body {
  background-color: #dedede;
  width: auto;
  height: 95vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.rightButton {
  transform: rotate(180deg);
  padding: 10px;
  background: whitesmoke;
}

.leftButton {
  padding: 10px;
  background: whitesmoke;
}

.firstIMG {
  width: 60%;
  height: 32%;
  min-width: 160px;
  min-height: 90px;
}

.description-box {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
