<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather API</title>
</head>
<body>
  <div>The selected city: {{city}}</div>
  <div>The current temperature is: {{current_temp}}°C</div>
  <div>Expected weather: {{description}}</div>
  <div>The highest temperature: {{temp_min}}°C</div>
  <div>The lowest temperature: {{temp_max}}°C</div>
  <div>{{adat}}</div>
</body>
</html>