<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Rick and Morty Galery</title>
  <link rel='stylesheet' type='text/css' href='/assets/styles.css'>
</head>
<body>
  <h1>My Rick and Morty Galery</h1>
  <div class = 'container'>
    <button class = 'leftButton'>
      <img src = /assets/arrow-button.svg>
    </button>

    <img class = 'firstIMG' src = <%= picture %>>

    <div class = 'description-box'>
      <p class = 'desrip-title'>This is the title of the picture</p>
      <p class = 'descrip-text'>This is the description of the picture</p>
    </div>
    
    <button class = 'rightButton'>
      <img src = /assets/arrow-button.svg>
    </button>
  </div>
</body>
</html>