<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Rick and Morty Galery</title>
  <link rel='stylesheet' type='text/css' href='/assets/styles.css'>
</head>
<body>
  <h1><%= message %></h1>
  <div class = 'container'>
    <img class = 'leftButton' src = /assets/arrow-button.svg>
    <img class = 'firstIMG' src = <%= picture %>>
    <div class = 'description-box'>
      <p>'This is the title of the picture'</p>
      <p>'This is the description of the picture'</p>
    </div>
    <img class = 'rightButton' src = /assets/arrow-button.svg>
  </div>
</body>
</html>